@if (Context.User.Identity.IsAuthenticated == false){
    <li class="nav-item">
        <a asp-controller="Usuarios"
            asp-action="Perfil"
            class="nav-link">
            Log In
        </a>
    </li>
}else{
    <li class="nav-item">
        <a asp-controller="Manager"
        asp-action="Logout"
       class="nav-link">
            Log Out <span style="color:red">@Context.User.Identity.Name</span>
        </a>
    </li>
}